
body{
    background-image: url(./cool-background.png);
    background-size: cover;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

.card{
    background-color: #fdfdfd;
    border-radius: 8px;
    height: 90vh;
    width: 85vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
}

img.birthday{
    margin-top: 4vh;
    max-height: 40vh;
    max-width: 80vw;
}

.text {
    margin-top: 3vh;
    max-height: 41vh;
    padding-left: 5px;
    padding-right: 5px;
}

.gift {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.c{
    flex: 30vw;
    height: 23vh;
    border-radius: 15px;
    padding: 10px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.gift p {
    margin-top: 12vh;
}

.giftChicken p{
    color: #14ef95;
    font-weight: bold;
    font-size: 100%;
    max-width: 29vw;
    margin: 0;
}

.giftWork p{
    margin: 0;
    color: #0e538c;
    font-weight: bold;
    font-size: 100%;
    max-width: 29vw;
}

.c:hover{
    border: 2px solid black;
} 

.giftChicken{
    background-image: url(./Chicken-tikka-masala.jpg);
}

.giftWork{
    background-image: url(./bau.jpg);
}

p{
    color: black;
    font-weight: bold;
    font-size: large;
    margin: 6px;
    margin-top: 3vh;
}
